<section class="archive">
    <div class="stepLine"></div>
    <div class="archive-title">每天进步一点点</div>
    <% page.posts.each(function (post) { %>
        <div class="post-item">
            <span class="post-date"><%= date(post.date, "YYYY-MM-DD") %></span>
            <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </div>
    <% }) %>
</section>
<!--<%- partial('_partial/paginator') %>-->
