.highlight
    margin: 0px
    display: block
    overflow-x: auto
    padding: 0 20px
    font-size: font-size
    //line-height: font-size * line-height
    table
        margin: 0
        width: auto
        td
            border: none
        td.code
            text-align left
            padding-right: 20px
    .gutter
        pre
            color: #666
            text-align: left
            padding-right: 20px

.article-entry
    .highlight
        margin: 1.6em 0
        .line
            height: 1.6em

@import "_highlight/hybrid.styl"
