banner-url = "images/black-day.jpg"
progress-url = "images/progressIcon.png"
progressActive-url = "images/progressActive.png"
post-default-center = "images/fish.png"
post-default-normal = "images/code-screen.jpg"
