body {
  font-family: Norasi;
  background-color: #eff0f6;
  font-size: 1.25rem;
  line-height: 1.5;
  width 100%
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top -60px
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/paginator.styl";
@import "_partial/archive.styl";
@import "_partial/footer.styl";
