@import "_variables.styl"

html{
  height 100%
}
body {
  font-family: Norasi;
  background-color: #eff0f6;
  font-size: 1.25rem;
  line-height: 1.5;
  width 100%
  height 100%
  margin: 0 auto;
  position relative
  left 0
  &.slow-show{
    animation : fade-in 1s forwards
  }
}

.container {
  width 100%
  position relative
  min-height 960px
}
.about{
  max-width 960px
  margin 0 auto
  border-radius 6px
  padding 10px 30px
}

@keyframes fade-in {
  from{
    top -5%
    opacity 0.3
  }
  to{
    top 0
    opacity 1
  }
}


@import "_partial/headerIndex.styl";
@import "_partial/headerNormal.styl";
@import "_partial/index.styl";
@import "_partial/post";
@import "_partial/paginator.styl";
@import "_partial/archive.styl";
@import "_partial/footer.styl";
@import "_highlight/index.styl"
