<footer class="footer-wrap">
    <div>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </div>
    <div>
        <%= __('powered_by') %> <a href="http://github.io/" target="_blank">Fairy</a>
    </div>
</footer>
