<footer class="footer-wrap">
    <div>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </div>
    <div>
        <%= __('powered_by') %>
        <a href="https://github.com/PrettyMask/theme-fairy" target="_blank">
            theme-fairy
        </a>
    </div>
</footer>
