<header class="header">
    <div class="header-outer">
        <div class="header-inner">
            <div class="blog-title">
                <%= config.title %>
            </div>
            <nav class="navbar">
                <ul class="menu">
                    <% for (name in theme.menu) { %>
                        <li class="menu-item">
                            <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%- name %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</header>
