<header class="headerNormal">
    <div class="header-outer">
        <div class="blog-title">
            <a href="<%- url_for(theme.menu['home']) %>" class="menu-item-link"><%= config.title %></a>
        </div>
        <nav class="navbar">
            <ul class="menu">
                <% for (name in theme.menu) { %>
                    <li class="menu-item">
                        <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%- name %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
