.archive {
  max-width 960px
  margin: 0 auto;
  padding: 30px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  font-size: 0.8em;
  border-radius 6px
  margin-bottom 50px
  .archive-wrap{
    position relative
    .archive-title{
      padding-left 80px
      position relative
      font-size 0.9em
      &::before{
        content: ' ';
        position: absolute;
        display: inline-block;
        padding: 10px 6px;
        background-image: url(progress-url);
        background-size: 100% 100%;
        top: 1px;
        left: 33px;
        transform: rotate(-90deg);
        z-index: 10;
      }
      &:hover{
        transition 0.5s
        &::before{
          background-image: url(progressActive-url);
        }
      }
    }
    .stepLine{
      position: absolute;
      left: calc(40px - 1px );
      top: 10px;
      bottom: 0;
      width: 2px;
      background-color: #acacac;
      transform: scaleX(0.5);
      padding: 8px 0;
      z-index: 10;
    }
    .post-item {
      margin: 18px 0;
      padding-left 80px
      position relative
      text-align: left;
      &::before{
        content: ' ';
        position: absolute;
        display: inline-block;
        padding: 10px 6px;
        background-image: url(progress-url);
        background-size: 100% 100%;
        top: 5px;
        left: 33px;
        transform: rotate(-90deg);
        z-index: 10;
      }
      .post-date {
        display: inline-block;
        margin-right: 10px;
        color: #100c158f;
        font-family "Nimbus Roman No9 L"
      }
      .post-title {
        color: #100c158f;
        text-decoration: none;
        font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
      }
      &:hover{
        transition 0.5s
        padding-left 88px
        *{
          color #17c3d2
        }
        &::before{
          background-image: url(progressActive-url);
        }
      }
    }
  }
}
