.footer-wrap{
  position relative
  bottom 0
  height 100px
  width 100%
  background rgba(34, 34, 34, 0.87)
  color: #f9f9f9
  display flex
  align-items center
  flex-direction column
  justify-content center
  font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
  font-size 0.6em
  a{
    text-decoration none
    color #3b9eff
    &:clicked{
      color #fefdff
    }
    &:hover{
      color #17c3d2;
    }
  }
}
