.headerIndex {
  width 100%
  height 400px
  position relative
  display: flex
  flex-direction row
  z-index 1
  font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
  .header-outer{
    font-size 1em
    width 100%
    height 100%
    margin 0 auto
    background-image: url(banner-url)
    background-size 100% 100%
    .header-inner{
      font-size 1em
      max-width: 960px;
      width 100%
      height 80%
      margin: 0 auto;
      display: flex
      flex-direction column
      justify-content: space-between
      .blog-title{
        text-align: center;
        padding: 100px 0;
        color: #e2e2e2;
        text-decoration: none;
        font-size 2em
      }
      .menu {
        margin: 0;
        padding: 0;
        font-size 0.7em
        .menu-item {
          display: inline-block;
          margin-right: 10px;
        }
        .menu-item-link {
          color: #e2e2e2;
          text-decoration: none;
          &:hover {
            transition 0.4s
            color: #17c3d2;
          }
        }
      }
    }
  }

}
