.page-nav{
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size 15px
  margin-bottom 20px
  >*{
    margin 0 5px
    text-decoration none
    color #222222
    border 1px solid rgba(212,218,255,0.9)
    background rgba(212,218,255,0.4)
    border-radius 2px
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  }
  >a:hover{
    background rgba(212,218,255,1)
  }
  .extend{
    padding 0 4px
  }
  .page-number{
    padding 0 10px
  }
  .current{
    background rgba(212,218,255,0.7)
  }
}
